[submodule "deps/lvgl"]
	path = deps/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "deps/lua-compat-5.3"]
	path = deps/lua-compat-5.3
	url = https://github.com/lunarmodules/lua-compat-5.3.git
